In [7]:
#day-7

import pandas as pd

file_path = "/content/drive/MyDrive/Day_7_sales_data.csv"
data = pd.read_csv(file_path)

print("First 5 rows of the dataset:")
print(data.head())

print("\nBasic statistics of numerical columns:")
print(data.describe())

First 5 rows of the dataset:
         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

Basic statistics of numerical columns:
             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

In [4]:
total_sales_by_region = data.groupby('Region')['Sales'].sum()

print("\nTotal Sales for Each Region:")
print(total_sales_by_region)

Total Sales for Each Region:
Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

In [5]:
most_sold_product = data.groupby('Product')['Quantity'].sum().idxmax()
most_sold_quantity = data.groupby('Product')['Quantity'].sum().max()

print("\nMost Sold Product:")
print(f"Product: {most_sold_product}, Total Quantity Sold: {most_sold_quantity}")

Most Sold Product:
Product: Tablet, Total Quantity Sold: 38

In [6]:
data['Profit_Margin'] = (data['Profit'] / data['Sales']) * 100
average_profit_margin = data.groupby('Product')['Profit_Margin'].mean()

print("\nAverage Profit Margin for Each Product:")
print(average_profit_margin)

Average Profit Margin for Each Product:
Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit_Margin, dtype: float64

**Day**-**8**

In [9]:
import pandas as pd

file_path = '/content/drive/MyDrive/Day_8_sales_data.csv'
data = pd.read_csv(file_path)

print("First 5 rows of the dataset:")
print(data.head())
sales_above_1000 = data[data['Sales'] > 1000]
print("\nRows where Sales > 1000:")
print(sales_above_1000)

sales_east_region = data[data['Region'] == "East"]
print("\nSales records for the 'East' region:")
print(sales_east_region)

data['Profit_Per_Unit'] = data['Profit'] / data['Quantity']
print("\nDataset with 'Profit_Per_Unit' column added:")
print(data.head())
data['High_Sales'] = data['Sales'].apply(lambda x: 'Yes' if x > 1000 else 'No')
print("\nDataset with 'High_Sales' column added:")
print(data.head())

First 5 rows of the dataset:
         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

Rows where Sales > 1000:
          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
1   2023-01-06      Laptop  North  1926.07  246.34         8
2   2023-01-03      Tablet   East  1597.99  253.17         3
3   2023-01-20      Tablet  North  1397.99  242.23         1
7   2023-01-07  Smartphone   East  1799.26  364.97         4
8   2023-01-11  Smartphone   West  1401.67  306.24         2
9   2023-01-01      Laptop  North  1562.11  170.72         6
11  2023-01-12      Laptop   West  1954.86  262.16         4
12  2023-01-09     Monitor  North  1748.66  197.62         6
17  2023-01-18     Monitor   West  1287.13  153.86         7
18  2023-01-13      Tablet   West  1147.92  271.88         9

Sales records for the 'East' region:
          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
2   2023-01-03      Tablet   East  1597.99  253.17         3
6   2023-01-14    Keyboard   East   587.13   82.16         8
7   2023-01-07  Smartphone   East  1799.26  364.97         4
14  2023-01-08      Laptop   East   772.74  226.51         2

Dataset with 'Profit_Per_Unit' column added:
         Date Product Region    Sales  Profit  Quantity  Profit_Per_Unit
0  2023-01-02  Tablet   East  1061.81  236.12         7        33.731429
1  2023-01-06  Laptop  North  1926.07  246.34         8        30.792500
2  2023-01-03  Tablet   East  1597.99  253.17         3        84.390000
3  2023-01-20  Tablet  North  1397.99  242.23         1       242.230000
4  2023-01-04  Laptop   West   734.03  140.36         4        35.090000

Dataset with 'High_Sales' column added:
         Date Product Region    Sales  Profit  Quantity  Profit_Per_Unit  \
0  2023-01-02  Tablet   East  1061.81  236.12         7        33.731429
1  2023-01-06  Laptop  North  1926.07  246.34         8        30.792500
2  2023-01-03  Tablet   East  1597.99  253.17         3        84.390000
3  2023-01-20  Tablet  North  1397.99  242.23         1       242.230000
4  2023-01-04  Laptop   West   734.03  140.36         4        35.090000

  High_Sales
0        Yes
1        Yes
2        Yes
3        Yes
4         No

**Day-9**

In [10]:
import pandas as pd

file_path = '/content/drive/MyDrive/Day_9_banking_data.csv'
data = pd.read_csv(file_path)
print("First 5 rows of the dataset:")
print(data.head())
print("\nBasic statistics of numerical columns:")
print(data.describe())
print("\nMissing values in the dataset:")
print(data.isnull().sum())

First 5 rows of the dataset:
         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
2             3363.85         12428.67
3             1914.60          5776.63
4             2788.57          4779.04

Basic statistics of numerical columns:
       Transaction_Amount  Account_Balance
count           20.000000        20.000000
mean          2705.829500      7967.766500
std           1429.829787      2770.248821
min            641.430000      2592.160000
25%           1482.085000      6460.127500
50%           2567.645000      7905.275000
75%           4121.525000      9127.702500
max           4683.640000     12836.510000

Missing values in the dataset:
Date                  0
Account_Type          0
Branch                0
Transaction_Type      0
Transaction_Amount    0
Account_Balance       0
dtype: int64

In [11]:
account_group = data.groupby('Account_Type').agg({
    'Transaction_Amount': 'sum',
    'Account_Balance': 'mean'
}).reset_index()
print("\nAggregated data by Account_Type:")
print(account_group)
branch_group = data.groupby('Branch').agg({
    'Transaction_Amount': ['count', 'mean']
}).reset_index()
branch_group.columns = ['Branch', 'Total_Transactions', 'Average_Transaction_Amount']
print("\nAggregated data by Branch:")
print(branch_group)

Aggregated data by Account_Type:
        Account_Type  Transaction_Amount  Account_Balance
0            Current            15052.57      9893.404000
1      Fixed Deposit            14102.59      6120.380000
2  Recurring Deposit            15179.99      7627.283333
3            Savings             9781.44      9134.110000

Aggregated data by Branch:
     Branch  Total_Transactions  Average_Transaction_Amount
0   Central                   8                 2942.338750
1  Downtown                   3                 3188.703333
2  Suburban                   5                 2773.278000
3    Uptown                   4                 1786.345000